@{
    ViewData["Title"] = "Completar perfil";
}

<h3 class="mb-4">Completa tu perfil 🔥</h3>

<form method="post">
    <div class="mb-3">
        <label>Nombre de usuario</label>
        <input name="username" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Contraseña</label>
        <input type="password" name="password" class="form-control" required />
    </div>

    <button class="btn btn-primary">Guardar</button>
</form>